In [51]:
import pandas as pd
import matplotlib.pyplot as plt
db2 = pd.read_csv(r'/Users/minhnguyetnguyen/Documents/AISOUP/AutoML/Database/DB2/breast-cancer.csv')
db2

,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no.1
0,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
2,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
3,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no
4,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,left,left_low,no
...,...,...,...,...,...,...,...,...,...,...
280,recurrence-events,30-39,premeno,30-34,0-2,no,2,left,left_up,no
281,recurrence-events,30-39,premeno,20-24,0-2,no,3,left,left_up,yes
282,recurrence-events,60-69,ge40,20-24,0-2,no,1,right,left_up,no
283,recurrence-events,40-49,ge40,30-34,3-5,no,3,left,left_low,no
284,recurrence-events,50-59,ge40,30-34,3-5,no,3,left,left_low,no

In [52]:
# Extract the second column
column = db2.pop(db2.columns[0])

# Add the second column to the end of the DataFrame
db2.insert(len(db2.columns), column.name, column)
# Rename the 'no.1' column to 'no'
db2.rename(columns={'no.1': 'no'}, inplace=True)
db2

,30-39,premeno,30-34,0-2,no,3,left,left_low,no,no-recurrence-events
0,40-49,premeno,20-24,0-2,no,2,right,right_up,no,no-recurrence-events
1,40-49,premeno,20-24,0-2,no,2,left,left_low,no,no-recurrence-events
2,60-69,ge40,15-19,0-2,no,2,right,left_up,no,no-recurrence-events
3,40-49,premeno,0-4,0-2,no,2,right,right_low,no,no-recurrence-events
4,60-69,ge40,15-19,0-2,no,2,left,left_low,no,no-recurrence-events
...,...,...,...,...,...,...,...,...,...,...
280,30-39,premeno,30-34,0-2,no,2,left,left_up,no,recurrence-events
281,30-39,premeno,20-24,0-2,no,3,left,left_up,yes,recurrence-events
282,60-69,ge40,20-24,0-2,no,1,right,left_up,no,recurrence-events
283,40-49,ge40,30-34,3-5,no,3,left,left_low,no,recurrence-events
284,50-59,ge40,30-34,3-5,no,3,left,left_low,no,recurrence-events

In [53]:
# Extract column names from the DataFrame
column_names = db2.columns.tolist()

# Create a new DataFrame with the duplicated column names as the first row
new_row = pd.DataFrame([column_names], columns=db2.columns)

# Concatenate the new row and the rest of the data
db2 = pd.concat([new_row, db2], ignore_index=True)
# Rename the column names
new_column_names = ['age']+['menopause']+['tumor_size']+['inv_nodes']+['node_caps']+['deg_malig']+['breast']+['breast_quad']+['irradiat']+ ["Class"] 
db2.columns = new_column_names
# Convert 'deg_malig' column to numeric data type
db2['deg_malig'] = pd.to_numeric(db2['deg_malig'], errors='coerce')
db2

,age,menopause,tumor_size,inv_nodes,node_caps,deg_malig,breast,breast_quad,irradiat,Class
0,30-39,premeno,30-34,0-2,no,3,left,left_low,no,no-recurrence-events
1,40-49,premeno,20-24,0-2,no,2,right,right_up,no,no-recurrence-events
2,40-49,premeno,20-24,0-2,no,2,left,left_low,no,no-recurrence-events
3,60-69,ge40,15-19,0-2,no,2,right,left_up,no,no-recurrence-events
4,40-49,premeno,0-4,0-2,no,2,right,right_low,no,no-recurrence-events
...,...,...,...,...,...,...,...,...,...,...
281,30-39,premeno,30-34,0-2,no,2,left,left_up,no,recurrence-events
282,30-39,premeno,20-24,0-2,no,3,left,left_up,yes,recurrence-events
283,60-69,ge40,20-24,0-2,no,1,right,left_up,no,recurrence-events
284,40-49,ge40,30-34,3-5,no,3,left,left_low,no,recurrence-events
285,50-59,ge40,30-34,3-5,no,3,left,left_low,no,recurrence-events

In [54]:
db2.isna().sum()

age            0
menopause      0
tumor_size     0
inv_nodes      0
node_caps      0
deg_malig      0
breast         0
breast_quad    0
irradiat       0
Class          0
dtype: int64

In [55]:
# Display unique values of all columns
for column in db2.columns:
    unique_values = db2[column].unique()
    print(f"Unique values in column '{column}': {unique_values}")

Unique values in column 'age': ['30-39' '40-49' '60-69' '50-59' '70-79' '20-29']
Unique values in column 'menopause': ['premeno' 'ge40' 'lt40']
Unique values in column 'tumor_size': ['30-34' '20-24' '15-19' '0-4' '25-29' '50-54' '10-14' '40-44' '35-39'
 '5-9' '45-49']
Unique values in column 'inv_nodes': ['0-2' '6-8' '9-11' '3-5' '15-17' '12-14' '24-26']
Unique values in column 'node_caps': ['no' 'yes' '?']
Unique values in column 'deg_malig': [3 2 1]
Unique values in column 'breast': ['left' 'right']
Unique values in column 'breast_quad': ['left_low' 'right_up' 'left_up' 'right_low' 'central' '?']
Unique values in column 'irradiat': ['no' 'yes']
Unique values in column 'Class': ['no-recurrence-events' 'recurrence-events']

In [56]:
# Display count of "?" in each column
for column in db2.columns:
    question_count = (db2 == "?").sum()
question_count

age            0
menopause      0
tumor_size     0
inv_nodes      0
node_caps      8
deg_malig      0
breast         0
breast_quad    1
irradiat       0
Class          0
dtype: int64

In [57]:
db2.mode().iloc[0]

age                           50-59
menopause                   premeno
tumor_size                    30-34
inv_nodes                       0-2
node_caps                        no
deg_malig                         2
breast                         left
breast_quad                left_low
irradiat                         no
Class          no-recurrence-events
Name: 0, dtype: object

In [58]:
# Display frequency table for each column
for column in db2.columns:
    frequency_table = db2[column].value_counts()
    print(f"Frequency table for column '{column}':")
    print(frequency_table)
    print("\n")

Frequency table for column 'age':
50-59    96
40-49    90
60-69    57
30-39    36
70-79     6
20-29     1
Name: age, dtype: int64


Frequency table for column 'menopause':
premeno    150
ge40       129
lt40         7
Name: menopause, dtype: int64


Frequency table for column 'tumor_size':
30-34    60
25-29    54
20-24    50
15-19    30
10-14    28
40-44    22
35-39    19
0-4       8
50-54     8
5-9       4
45-49     3
Name: tumor_size, dtype: int64


Frequency table for column 'inv_nodes':
0-2      213
3-5       36
6-8       17
9-11      10
15-17      6
12-14      3
24-26      1
Name: inv_nodes, dtype: int64


Frequency table for column 'node_caps':
no     222
yes     56
?        8
Name: node_caps, dtype: int64


Frequency table for column 'deg_malig':
2    130
3     85
1     71
Name: deg_malig, dtype: int64


Frequency table for column 'breast':
left     152
right    134
Name: breast, dtype: int64


Frequency table for column 'breast_quad':
left_low     110
left_up       97
right_up      33
right_low     24
central       21
?              1
Name: breast_quad, dtype: int64


Frequency table for column 'irradiat':
no     218
yes     68
Name: irradiat, dtype: int64


Frequency table for column 'Class':
no-recurrence-events    201
recurrence-events        85
Name: Class, dtype: int64

In [59]:
db2['node_caps'].replace("?", "no", inplace=True)
db2['breast_quad'].replace("?", "left_low", inplace=True)
for column in db2.columns:
    unique_values = db2[column].unique()
    print(f"Unique values in column '{column}': {unique_values}")

Unique values in column 'age': ['30-39' '40-49' '60-69' '50-59' '70-79' '20-29']
Unique values in column 'menopause': ['premeno' 'ge40' 'lt40']
Unique values in column 'tumor_size': ['30-34' '20-24' '15-19' '0-4' '25-29' '50-54' '10-14' '40-44' '35-39'
 '5-9' '45-49']
Unique values in column 'inv_nodes': ['0-2' '6-8' '9-11' '3-5' '15-17' '12-14' '24-26']
Unique values in column 'node_caps': ['no' 'yes']
Unique values in column 'deg_malig': [3 2 1]
Unique values in column 'breast': ['left' 'right']
Unique values in column 'breast_quad': ['left_low' 'right_up' 'left_up' 'right_low' 'central']
Unique values in column 'irradiat': ['no' 'yes']
Unique values in column 'Class': ['no-recurrence-events' 'recurrence-events']

In [60]:
db2

,age,menopause,tumor_size,inv_nodes,node_caps,deg_malig,breast,breast_quad,irradiat,Class
0,30-39,premeno,30-34,0-2,no,3,left,left_low,no,no-recurrence-events
1,40-49,premeno,20-24,0-2,no,2,right,right_up,no,no-recurrence-events
2,40-49,premeno,20-24,0-2,no,2,left,left_low,no,no-recurrence-events
3,60-69,ge40,15-19,0-2,no,2,right,left_up,no,no-recurrence-events
4,40-49,premeno,0-4,0-2,no,2,right,right_low,no,no-recurrence-events
...,...,...,...,...,...,...,...,...,...,...
281,30-39,premeno,30-34,0-2,no,2,left,left_up,no,recurrence-events
282,30-39,premeno,20-24,0-2,no,3,left,left_up,yes,recurrence-events
283,60-69,ge40,20-24,0-2,no,1,right,left_up,no,recurrence-events
284,40-49,ge40,30-34,3-5,no,3,left,left_low,no,recurrence-events
285,50-59,ge40,30-34,3-5,no,3,left,left_low,no,recurrence-events

In [61]:
db2.to_csv(r'/Users/minhnguyetnguyen/Documents/AISOUP/AutoML/Database/DB2/DB2MOD.csv', index=False)

In [62]:
from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Iterate through categorical columns and apply label encoding
categorical_columns = ['age', 'menopause', 'tumor_size', 'inv_nodes', 'node_caps', 'breast', 'breast_quad', 'irradiat','Class']
for col in categorical_columns:
    db2[col] = label_encoder.fit_transform(db2[col])
db2

,age,menopause,tumor_size,inv_nodes,node_caps,deg_malig,breast,breast_quad,irradiat,Class
0,1,2,5,0,0,3,0,1,0,0
1,2,2,3,0,0,2,1,4,0,0
2,2,2,3,0,0,2,0,1,0,0
3,4,0,2,0,0,2,1,2,0,0
4,2,2,0,0,0,2,1,3,0,0
...,...,...,...,...,...,...,...,...,...,...
281,1,2,5,0,0,2,0,2,0,1
282,1,2,3,0,0,3,0,2,1,1
283,4,0,3,0,0,1,1,2,0,1
284,2,0,5,4,0,3,0,1,0,1
285,3,0,5,4,0,3,0,1,0,1

In [63]:
db2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286 entries, 0 to 285
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          286 non-null    int64
 1   menopause    286 non-null    int64
 2   tumor_size   286 non-null    int64
 3   inv_nodes    286 non-null    int64
 4   node_caps    286 non-null    int64
 5   deg_malig    286 non-null    int64
 6   breast       286 non-null    int64
 7   breast_quad  286 non-null    int64
 8   irradiat     286 non-null    int64
 9   Class        286 non-null    int64
dtypes: int64(10)
memory usage: 22.5 KB

In [68]:
from sklearn.preprocessing import StandardScaler
# Extract the features from the DataFrame
features = db2.drop(columns=['Class'])

# Initialize the StandardScaler
scaler = StandardScaler()

# Perform data standardization on the features
features_standardized = scaler.fit_transform(features)

# Convert the standardized features back to a DataFrame
features_standardized_df = pd.DataFrame(features_standardized, columns=features.columns)

# Combine the standardized features with the 'Class' column
db2_standardized = pd.concat([db2['Class'], features_standardized_df], axis=1)
db2_standardized

,Class,age,menopause,tumor_size,inv_nodes,node_caps,deg_malig,breast,breast_quad,irradiat
0,0,-1.647779,0.940728,0.436366,-0.555623,-0.493435,1.290564,-0.938924,-0.718171,-0.558504
1,0,-0.657727,0.940728,-0.494983,-0.555623,-0.493435,-0.066426,1.065049,2.045017,-0.558504
2,0,-0.657727,0.940728,-0.494983,-0.555623,-0.493435,-0.066426,-0.938924,-0.718171,-0.558504
3,0,1.322377,-1.089825,-0.960657,-0.555623,-0.493435,-0.066426,1.065049,0.202891,-0.558504
4,0,-0.657727,0.940728,-1.892006,-0.555623,-0.493435,-0.066426,1.065049,1.123954,-0.558504
...,...,...,...,...,...,...,...,...,...,...
281,1,-1.647779,0.940728,0.436366,-0.555623,-0.493435,-0.066426,-0.938924,0.202891,-0.558504
282,1,-1.647779,0.940728,-0.494983,-0.555623,-0.493435,1.290564,-0.938924,0.202891,1.790498
283,1,1.322377,-1.089825,-0.494983,-0.555623,-0.493435,-1.423416,1.065049,0.202891,-0.558504
284,1,-0.657727,-1.089825,0.436366,1.514841,-0.493435,1.290564,-0.938924,-0.718171,-0.558504
285,1,0.332325,-1.089825,0.436366,1.514841,-0.493435,1.290564,-0.938924,-0.718171,-0.558504

In [65]:
db2.describe()

,age,menopause,tumor_size,inv_nodes,node_caps,deg_malig,breast,breast_quad,irradiat,Class
count,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000
mean,2.664336,1.073427,4.062937,1.073427,0.195804,2.048951,0.468531,1.779720,0.237762,0.297203
std,1.011818,0.986680,2.151187,1.935321,0.397514,0.738217,0.499883,1.087605,0.426459,0.457828
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,3.000000,0.000000,0.000000,2.000000,0.000000,1.000000,0.000000,0.000000
50%,3.000000,2.000000,4.000000,0.000000,0.000000,2.000000,0.000000,2.000000,0.000000,0.000000
75%,3.000000,2.000000,5.000000,1.000000,0.000000,3.000000,1.000000,2.000000,0.000000,1.000000
max,5.000000,2.000000,10.000000,6.000000,1.000000,3.000000,1.000000,4.000000,1.000000,1.000000

In [71]:
db2_standardized.describe()

,Class,age,menopause,tumor_size,inv_nodes,node_caps,deg_malig,breast,breast_quad,irradiat
count,286.000000,2.860000e+02,2.860000e+02,2.860000e+02,2.860000e+02,2.860000e+02,2.860000e+02,2.860000e+02,2.860000e+02,2.860000e+02
mean,0.297203,1.925422e-16,1.521704e-16,-1.739091e-16,7.453245e-17,-1.242208e-16,2.484415e-16,-7.453245e-17,-1.180097e-16,4.968830e-17
std,0.457828,1.001753e+00,1.001753e+00,1.001753e+00,1.001753e+00,1.001753e+00,1.001753e+00,1.001753e+00,1.001753e+00,1.001753e+00
min,0.000000,-2.637831e+00,-1.089825e+00,-1.892006e+00,-5.556227e-01,-4.934352e-01,-1.423416e+00,-9.389244e-01,-1.639234e+00,-5.585039e-01
25%,0.000000,-6.577269e-01,-1.089825e+00,-4.949827e-01,-5.556227e-01,-4.934352e-01,-6.642610e-02,-9.389244e-01,-7.181713e-01,-5.585039e-01
50%,0.000000,3.323252e-01,9.407283e-01,-2.930819e-02,-5.556227e-01,-4.934352e-01,-6.642610e-02,-9.389244e-01,2.028914e-01,-5.585039e-01
75%,1.000000,3.323252e-01,9.407283e-01,4.363664e-01,-3.800676e-02,-4.934352e-01,1.290564e+00,1.065049e+00,2.028914e-01,-5.585039e-01
max,1.000000,2.312429e+00,9.407283e-01,2.764739e+00,2.550073e+00,2.026609e+00,1.290564e+00,1.065049e+00,2.045017e+00,1.790498e+00

In [72]:
db2_standardized.var()

Class          0.209606
age            1.003509
menopause      1.003509
tumor_size     1.003509
inv_nodes      1.003509
node_caps      1.003509
deg_malig      1.003509
breast         1.003509
breast_quad    1.003509
irradiat       1.003509
dtype: float64

In [73]:
db2_standardized.to_csv(r'/Users/minhnguyetnguyen/Documents/AISOUP/AutoML/Database/DB2/std_db2.csv', index=False)

In [74]:
from sklearn.preprocessing import MinMaxScaler

# Extract the Class column
class_column = db2.pop('Class')

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Normalize the numeric columns
norm_db2 = pd.DataFrame(scaler.fit_transform(db2), columns=db2.columns)

# Add back the Class column
norm_db2 = pd.concat([class_column, norm_db2], axis=1)
norm_db2

,Class,age,menopause,tumor_size,inv_nodes,node_caps,deg_malig,breast,breast_quad,irradiat
0,0,0.2,1.0,0.5,0.000000,0.0,1.0,0.0,0.25,0.0
1,0,0.4,1.0,0.3,0.000000,0.0,0.5,1.0,1.00,0.0
2,0,0.4,1.0,0.3,0.000000,0.0,0.5,0.0,0.25,0.0
3,0,0.8,0.0,0.2,0.000000,0.0,0.5,1.0,0.50,0.0
4,0,0.4,1.0,0.0,0.000000,0.0,0.5,1.0,0.75,0.0
...,...,...,...,...,...,...,...,...,...,...
281,1,0.2,1.0,0.5,0.000000,0.0,0.5,0.0,0.50,0.0
282,1,0.2,1.0,0.3,0.000000,0.0,1.0,0.0,0.50,1.0
283,1,0.8,0.0,0.3,0.000000,0.0,0.0,1.0,0.50,0.0
284,1,0.4,0.0,0.5,0.666667,0.0,1.0,0.0,0.25,0.0
285,1,0.6,0.0,0.5,0.666667,0.0,1.0,0.0,0.25,0.0

In [75]:
norm_db2.to_csv(r'/Users/minhnguyetnguyen/Documents/AISOUP/AutoML/Database/DB2/norm_db2.csv', index=False)