In [17]:
import pandas as pd
import matplotlib.pyplot as plt
db7 = pd.read_csv(r'/Users/minhnguyetnguyen/Documents/AISOUP/AutoML/Database/DB7/DB7.csv')
db7

,Age,Race,Marital Status,Unnamed: 3,T Stage,N Stage,6th Stage,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
0,43,"Other (American Indian/AK Native, Asian/Pacifi...",Married (including common law),NaN,T2,N3,IIIC,Moderately differentiated; Grade II,Regional,40,Positive,Positive,19,11,1,Alive
1,47,"Other (American Indian/AK Native, Asian/Pacifi...",Married (including common law),NaN,T2,N2,IIIA,Moderately differentiated; Grade II,Regional,45,Positive,Positive,25,9,2,Alive
2,67,White,Married (including common law),NaN,T2,N1,IIB,Poorly differentiated; Grade III,Regional,25,Positive,Positive,4,1,2,Dead
3,46,White,Divorced,NaN,T1,N1,IIA,Moderately differentiated; Grade II,Regional,19,Positive,Positive,26,1,2,Dead
4,63,White,Married (including common law),NaN,T2,N2,IIIA,Moderately differentiated; Grade II,Regional,35,Positive,Positive,21,5,3,Dead
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4019,52,White,Married (including common law),NaN,T1,N1,IIA,Well differentiated; Grade I,Regional,10,Positive,Positive,19,1,107,Alive
4020,53,White,Married (including common law),NaN,T1,N2,IIIA,Poorly differentiated; Grade III,Regional,9,Negative,Negative,13,5,107,Alive
4021,53,White,Divorced,NaN,T1,N1,IIA,Moderately differentiated; Grade II,Regional,9,Negative,Negative,4,2,107,Alive
4022,60,"Other (American Indian/AK Native, Asian/Pacifi...",Married (including common law),NaN,T1,N1,IIA,Moderately differentiated; Grade II,Regional,9,Positive,Positive,14,2,107,Alive
4023,62,White,Divorced,NaN,T1,N1,IIA,Moderately differentiated; Grade II,Regional,8,Positive,Positive,1,1,107,Alive

In [18]:
# Select specific columns
db7mod = db7[['Age', 'Tumor Size', 'Reginol Node Positive', 'Survival Months', 'Regional Node Examined', 'Status']]
db7mod

,Age,Tumor Size,Reginol Node Positive,Survival Months,Regional Node Examined,Status
0,43,40,11,1,19,Alive
1,47,45,9,2,25,Alive
2,67,25,1,2,4,Dead
3,46,19,1,2,26,Dead
4,63,35,5,3,21,Dead
...,...,...,...,...,...,...
4019,52,10,1,107,19,Alive
4020,53,9,5,107,13,Alive
4021,53,9,2,107,4,Alive
4022,60,9,2,107,14,Alive
4023,62,8,1,107,1,Alive

In [19]:
db7mod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4024 entries, 0 to 4023
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Age                     4024 non-null   int64
 1   Tumor Size              4024 non-null   int64
 2   Reginol Node Positive   4024 non-null   int64
 3   Survival Months         4024 non-null   int64
 4   Regional Node Examined  4024 non-null   int64
 5   Status                  4024 non-null   object
dtypes: int64(5), object(1)
memory usage: 188.8+ KB

In [20]:
db7mod.isna().sum()

Age                       0
Tumor Size                0
Reginol Node Positive     0
Survival Months           0
Regional Node Examined    0
Status                    0
dtype: int64

In [21]:
# List of column names to check (exclude the "Class" column)
columns_to_check = [col for col in db7mod.columns if col != 'Status']

# Use applymap and str.isdigit to check if data in each cell is a digit
is_digit_df = db7mod[columns_to_check].applymap(lambda x: str(x).isdigit())

# Check if all columns have all digits (True) or not (False)
are_all_digits = is_digit_df.all()

# Display which columns contain non-digits
non_digit_columns = are_all_digits[~are_all_digits].index.tolist()
non_digit_columns

[]

In [22]:
db7mod.describe()

,Age,Tumor Size,Reginol Node Positive,Survival Months,Regional Node Examined
count,4024.000000,4024.000000,4024.000000,4024.000000,4024.000000
mean,53.972167,30.473658,4.158052,71.297962,14.357107
std,8.963134,21.119696,5.109331,22.921430,8.099675
min,30.000000,1.000000,1.000000,1.000000,1.000000
25%,47.000000,16.000000,1.000000,56.000000,9.000000
50%,54.000000,25.000000,2.000000,73.000000,14.000000
75%,61.000000,38.000000,5.000000,90.000000,19.000000
max,69.000000,140.000000,46.000000,107.000000,61.000000

In [23]:
db7mod.to_csv(r'/Users/minhnguyetnguyen/Documents/AISOUP/AutoML/Database/DB7/db7mod.csv', index=False)

In [24]:
from sklearn.preprocessing import StandardScaler
# Extract the features from the DataFrame
features = db7mod.drop(columns=['Status'])

# Initialize the StandardScaler
scaler = StandardScaler()

# Perform data standardization on the features
features_standardized = scaler.fit_transform(features)

# Convert the standardized features back to a DataFrame
features_standardized_df = pd.DataFrame(features_standardized, columns=features.columns)

# Combine the standardized features with the 'Class' column
db7_standardized = pd.concat([db7mod['Status'], features_standardized_df], axis=1)
db7_standardized

,Status,Age,Tumor Size,Reginol Node Positive,Survival Months,Regional Node Examined
0,Alive,-1.224296,0.451120,1.339275,-3.067291,0.573291
1,Alive,-0.777968,0.687896,0.947786,-3.023658,1.314153
2,Dead,1.453671,-0.259205,-0.618172,-3.023658,-1.278865
3,Dead,-0.889550,-0.543336,-0.618172,-3.023658,1.437631
4,Dead,1.007343,0.214345,0.164807,-2.980026,0.820245
...,...,...,...,...,...,...
4019,Alive,-0.220058,-0.969531,-0.618172,1.557777,0.573291
4020,Alive,-0.108476,-1.016886,0.164807,1.557777,-0.167572
4021,Alive,-0.108476,-1.016886,-0.422427,1.557777,-1.278865
4022,Alive,0.672598,-1.016886,-0.422427,1.557777,-0.044095
4023,Alive,0.895761,-1.064241,-0.618172,1.557777,-1.649297

In [25]:
db7_standardized.to_csv(r'/Users/minhnguyetnguyen/Documents/AISOUP/AutoML/Database/DB7/std_db7.csv', index=False)

In [26]:
db7_standardized.describe()

,Age,Tumor Size,Reginol Node Positive,Survival Months,Regional Node Examined
count,4.024000e+03,4.024000e+03,4.024000e+03,4.024000e+03,4.024000e+03
mean,-3.884677e-17,4.944134e-17,9.181964e-17,2.825220e-16,6.533320e-17
std,1.000124e+00,1.000124e+00,1.000124e+00,1.000124e+00,1.000124e+00
min,-2.674862e+00,-1.395727e+00,-6.181718e-01,-3.067291e+00,-1.649297e+00
25%,-7.779682e-01,-6.854008e-01,-6.181718e-01,-6.674917e-01,-6.614800e-01
50%,3.105661e-03,-2.592054e-01,-4.224271e-01,7.426453e-02,-4.409458e-02
75%,7.841795e-01,3.564103e-01,1.648069e-01,8.160207e-01,5.732909e-01
max,1.676835e+00,5.186625e+00,8.190338e+00,1.557777e+00,5.759329e+00

In [27]:
from sklearn.preprocessing import MinMaxScaler

# Extract the Class column
class_column = db7mod.pop('Status')

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Normalize the numeric columns
norm_db7 = pd.DataFrame(scaler.fit_transform(db7mod), columns=db7mod.columns)

# Add back the Class column
norm_db7 = pd.concat([class_column, norm_db7], axis=1)
norm_db7

,Status,Age,Tumor Size,Reginol Node Positive,Survival Months,Regional Node Examined
0,Alive,0.333333,0.280576,0.222222,0.000000,0.300000
1,Alive,0.435897,0.316547,0.177778,0.009434,0.400000
2,Dead,0.948718,0.172662,0.000000,0.009434,0.050000
3,Dead,0.410256,0.129496,0.000000,0.009434,0.416667
4,Dead,0.846154,0.244604,0.088889,0.018868,0.333333
...,...,...,...,...,...,...
4019,Alive,0.564103,0.064748,0.000000,1.000000,0.300000
4020,Alive,0.589744,0.057554,0.088889,1.000000,0.200000
4021,Alive,0.589744,0.057554,0.022222,1.000000,0.050000
4022,Alive,0.769231,0.057554,0.022222,1.000000,0.216667
4023,Alive,0.820513,0.050360,0.000000,1.000000,0.000000

In [28]:
norm_db7.describe()

,Age,Tumor Size,Reginol Node Positive,Survival Months,Regional Node Examined
count,4024.000000,4024.000000,4024.000000,4024.000000,4024.000000
mean,0.614671,0.212041,0.070179,0.663188,0.222618
std,0.229824,0.151940,0.113541,0.216240,0.134995
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.435897,0.107914,0.000000,0.518868,0.133333
50%,0.615385,0.172662,0.022222,0.679245,0.216667
75%,0.794872,0.266187,0.088889,0.839623,0.300000
max,1.000000,1.000000,1.000000,1.000000,1.000000

In [29]:
norm_db7.to_csv(r'/Users/minhnguyetnguyen/Documents/AISOUP/AutoML/Database/DB7/norm_db7.csv', index=False)