In [1]:
import pandas as pd
import matplotlib.pyplot as plt
db8 = pd.read_csv(r'/Users/minhnguyetnguyen/Documents/AISOUP/AutoML/Database/DB8/dataR2.csv')
db8

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Classification
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [2]:
db8 = db8.rename(columns={'Classification': 'Class'})
db8

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Class
0,48,23.500000,70,2.707,0.467409,8.8071,9.702400,7.99585,417.114,1
1,83,20.690495,92,3.115,0.706897,8.8438,5.429285,4.06405,468.786,1
2,82,23.124670,91,4.498,1.009651,17.9393,22.432040,9.27715,554.697,1
3,68,21.367521,77,3.226,0.612725,9.8827,7.169560,12.76600,928.220,1
4,86,21.111111,92,3.549,0.805386,6.6994,4.819240,10.57635,773.920,1
...,...,...,...,...,...,...,...,...,...,...
111,45,26.850000,92,3.330,0.755688,54.6800,12.100000,10.96000,268.230,2
112,62,26.840000,100,4.530,1.117400,12.4500,21.420000,7.32000,330.160,2
113,65,32.050000,97,5.730,1.370998,61.4800,22.540000,10.33000,314.050,2
114,72,25.590000,82,2.820,0.570392,24.9600,33.750000,3.27000,392.460,2
115,86,27.180000,138,19.910,6.777364,90.2800,14.110000,4.35000,90.090,2

In [3]:
db8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          116 non-null    int64
 1   BMI          116 non-null    float64
 2   Glucose      116 non-null    int64
 3   Insulin      116 non-null    float64
 4   HOMA         116 non-null    float64
 5   Leptin       116 non-null    float64
 6   Adiponectin  116 non-null    float64
 7   Resistin     116 non-null    float64
 8   MCP.1        116 non-null    float64
 9   Class        116 non-null    int64
dtypes: float64(7), int64(3)
memory usage: 9.2 KB

In [4]:
db8.isna().sum()

Age            0
BMI            0
Glucose        0
Insulin        0
HOMA           0
Leptin         0
Adiponectin    0
Resistin       0
MCP.1          0
Class          0
dtype: int64

In [5]:
db8.describe()

,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1,Class
count,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000
mean,57.301724,27.582111,97.793103,10.012086,2.694988,26.615080,10.180874,14.725966,534.647000,1.551724
std,16.112766,5.020136,22.525162,10.067768,3.642043,19.183294,6.843341,12.390646,345.912663,0.499475
min,24.000000,18.370000,60.000000,2.432000,0.467409,4.311000,1.656020,3.210000,45.843000,1.000000
25%,45.000000,22.973205,85.750000,4.359250,0.917966,12.313675,5.474283,6.881763,269.978250,1.000000
50%,56.000000,27.662416,92.000000,5.924500,1.380939,20.271000,8.352692,10.827740,471.322500,2.000000
75%,71.000000,31.241442,102.000000,11.189250,2.857787,37.378300,11.815970,17.755207,700.085000,2.000000
max,89.000000,38.578759,201.000000,58.460000,25.050342,90.280000,38.040000,82.100000,1698.440000,2.000000

In [6]:
from sklearn.preprocessing import StandardScaler
# Extract the features from the DataFrame
features = db8.drop(columns=['Class'])

# Initialize the StandardScaler
scaler = StandardScaler()

# Perform data standardization on the features
features_standardized = scaler.fit_transform(features)

# Convert the standardized features back to a DataFrame
features_standardized_df = pd.DataFrame(features_standardized, columns=features.columns)

# Combine the standardized features with the 'Class' column
db8_standardized = pd.concat([db8['Class'], features_standardized_df], axis=1)
db8_standardized

,Class,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
0,1,-0.579794,-0.816675,-1.239222,-0.728739,-0.614282,-0.932334,-0.070222,-0.545517,-0.341251
1,1,1.601821,-1.378751,-0.258299,-0.688038,-0.548240,-0.930413,-0.697350,-0.864214,-0.191224
2,1,1.539489,-0.891764,-0.302887,-0.550073,-0.464752,-0.454219,1.797998,-0.441660,0.058214
3,1,0.666843,-1.243303,-0.927110,-0.676965,-0.574210,-0.876021,-0.441945,-0.158867,1.142718
4,1,1.788816,-1.294601,-0.258299,-0.644743,-0.521081,-1.042682,-0.786881,-0.336352,0.694716
...,...,...,...,...,...,...,...,...,...,...
111,2,-0.766789,-0.146468,-0.258299,-0.666590,-0.534786,1.469335,0.281654,-0.305255,-0.773527
112,2,0.292852,-0.148468,0.098400,-0.546881,-0.435039,-0.741611,1.649470,-0.600299,-0.593717
113,2,0.479848,0.893855,-0.035362,-0.427172,-0.365106,1.825348,1.813843,-0.356320,-0.640491
114,2,0.916171,-0.398546,-0.704173,-0.717467,-0.585883,-0.086651,3.459038,-0.928577,-0.412832
115,2,1.788816,-0.080447,1.792721,0.987394,1.125766,3.333167,0.576644,-0.841036,-1.290747

In [7]:
db8_standardized.to_csv(r'/Users/minhnguyetnguyen/Documents/AISOUP/AutoML/Database/DB8/std_db8.csv', index=False)

In [8]:
db8_standardized.describe()

,Class,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
count,116.000000,1.160000e+02,1.160000e+02,1.160000e+02,1.160000e+02,1.160000e+02,1.160000e+02,1.160000e+02,1.160000e+02,1.160000e+02
mean,1.551724,1.493059e-16,-6.121779e-16,1.990745e-16,3.158393e-17,1.990745e-16,1.339924e-16,2.201304e-17,2.737274e-16,-1.282499e-16
std,0.499475,1.004338e+00,1.004338e+00,1.004338e+00,1.004338e+00,1.004338e+00,1.004338e+00,1.004338e+00,1.004338e+00,1.004338e+00
min,1.000000,-2.075758e+00,-1.842993e+00,-1.685096e+00,-7.561728e-01,-6.142824e-01,-1.167727e+00,-1.251120e+00,-9.334402e-01,-1.419216e+00
25%,1.000000,-7.667892e-01,-9.220669e-01,-5.369707e-01,-5.639145e-01,-4.900356e-01,-7.487479e-01,-6.907460e-01,-6.358212e-01,-7.684512e-01
50%,2.000000,-8.113887e-02,1.606607e-02,-2.582994e-01,-4.077686e-01,-3.623652e-01,-3.321433e-01,-2.683065e-01,-3.159753e-01,-1.838592e-01
75%,2.000000,8.538388e-01,7.320932e-01,1.875746e-01,1.174313e-01,4.489409e-02,5.635067e-01,2.399690e-01,2.455388e-01,4.803401e-01
max,2.000000,1.975812e+00,2.200011e+00,4.601727e+00,4.833058e+00,6.164765e+00,3.333167e+00,4.088645e+00,5.461082e+00,3.379009e+00

In [9]:
from sklearn.preprocessing import MinMaxScaler

# Extract the Class column
class_column = db8.pop('Class')

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Normalize the numeric columns
norm_db8 = pd.DataFrame(scaler.fit_transform(db8), columns=db8.columns)

# Add back the Class column
norm_db8 = pd.concat([class_column, norm_db8], axis=1)
norm_db8

,Class,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
0,1,0.369231,0.253850,0.070922,0.004908,0.000000,0.052299,0.221152,0.060665,0.224659
1,1,0.907692,0.114826,0.226950,0.012190,0.009742,0.052726,0.103707,0.010826,0.255926
2,1,0.892308,0.235278,0.219858,0.036874,0.022058,0.158526,0.571021,0.076906,0.307912
3,1,0.676923,0.148328,0.120567,0.014171,0.005911,0.064811,0.151538,0.121131,0.533934
4,1,0.953846,0.135640,0.226950,0.019936,0.013748,0.027782,0.086940,0.093375,0.440565
...,...,...,...,...,...,...,...,...,...,...
111,2,0.323077,0.419620,0.226950,0.016028,0.011727,0.585897,0.287049,0.098238,0.134568
112,2,0.584615,0.419125,0.283688,0.037446,0.026441,0.094674,0.543206,0.052098,0.172043
113,2,0.630769,0.676934,0.262411,0.058863,0.036757,0.664996,0.573988,0.090252,0.162294
114,2,0.738462,0.357271,0.156028,0.006925,0.004189,0.240191,0.882091,0.000761,0.209741
115,2,0.953846,0.435950,0.553191,0.311951,0.256680,1.000000,0.342293,0.014451,0.026774

In [10]:
norm_db8.describe()

,Class,Age,BMI,Glucose,Insulin,HOMA,Leptin,Adiponectin,Resistin,MCP.1
count,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000
mean,1.551724,0.512334,0.455847,0.268036,0.135291,0.090615,0.259443,0.234302,0.145975,0.295779
std,0.499475,0.247889,0.248414,0.159753,0.179692,0.148153,0.223142,0.188087,0.157062,0.209315
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.323077,0.227783,0.182624,0.034398,0.018328,0.093088,0.104944,0.046543,0.135626
50%,2.000000,0.492308,0.459821,0.226950,0.062335,0.037161,0.185648,0.184056,0.096562,0.257461
75%,2.000000,0.723077,0.636924,0.297872,0.156301,0.097237,0.384642,0.279242,0.184373,0.395887
max,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
norm_db8.to_csv(r'/Users/minhnguyetnguyen/Documents/AISOUP/AutoML/Database/DB8/norm_db8.csv', index=False)